catboost==1.2.8
ipykernel==7.1.0
joblib==1.5.2
kaleido==1.2.0
keras==3.12.0
matplotlib==3.10.7
mlflow==3.6.0
numpy==2.3.5
optuna==4.6.0
optuna-integration==4.6.0
pandas==2.3.3
plotly==6.5.0
scikit-learn==1.7.2
scipy==1.16.3
tensorflow==2.20.0